.hero {
    width: 100%;
    height: 100vh;
    background: url('../../assets/server.jpg') no-repeat center center/cover;
}

.hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero .content {
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-left: 6rem;
}

.hero h1 {
    color: #f8f8f8;
}

.hero .blue {
    color: var(--primary-color);
}

p {
    color: #f8f8f8;
    margin: 1rem 0;
}

.hero .priority {
    font-family: 'Roboto', sans-serif;
    padding: .7rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    border-radius: 4px;
    width: fit-content;
}
  
.hero .priority:hover {
    background-color: #47dcff;
    border: 1px solid #47dcff;
}

@media screen and (max-width:940px) {
   .hero .content {
    margin-left: 1rem;
   } 

   .hero .priority {
    font-size: 1.8rem;
    }
}





