.about {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, .1);
}

.about:before {
    content: '';
    position: absolute;
    background: url('../../assets/footer-bg.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    width: 50%;
}

.about .content h2 {
    color: #3C3C3C;
}

.about .content p {
    margin: 1rem 0;
    color: #000;
}

.about .priority {
    font-family: 'Roboto', sans-serif;
    padding: .7rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #f8f8f8;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    border-radius: 4px;
    width: fit-content;
}
  
.about .priority:hover {
    background-color: #47dcff;
    border: 1px solid #47dcff;
}

@media screen and (max-width: 940px) {
    .about .content {
        left: 0;
        width: 100%;
        padding: 1rem;
        background: rgba(255, 255, 255, .7);
    }

    .about .priority {
        font-size: 1.8rem;
    }
}










